* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #e6e6ff;
    background-color: #1e1e1e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin: 2.5rem 0 2rem;
}

.game-container {
    width: 100vw;
    padding: 1px;
    margin: 5vh auto;
    font-size: 0.8rem;
    text-align: center;
}

.score-container {
    width: 30%;
    min-width: 250px;
    border: 2px solid #e6e6ff;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.rounds, .agent {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.rounds {
    top: 10px;
}

.agent {
    top: 20px;
}

.sect {
    position: relative;
}

.rounds span {
    font-size: 1.5rem;
}

.score, .rounds span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.score {
    font-size: 4rem;
    text-align: center;
    padding: 1rem;
    margin-top: 1.2rem;
}

.choices {
    width: 70vw;
    margin: 2rem auto;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

button {
    cursor: pointer;
}

.choices button {
    background-color: #1e1e1e;
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    border: 2px solid #e6e6ff;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.choices button:hover {
    transform: scale(1.09);
}

.choices button:active {
    transform: scale(0.9);
}

.choices .rock {
    width: 65%;
}

.choices .paper {
    width: 90%;
}

.choices .scissors {
    width: 50%;
}

.message {
    font-size: 1.4rem;
}

.reset {
    color: #1e1e1e;
    background-color: #e6e6ff;
    font-weight: 900;
    border: none;
    margin-top: 24px;
    padding: 8px;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.reset:hover {
    background-color: #a1a1b3;
}

.reset:active {
    transform: scale(0.9);
}