* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #e6e6ff;
    background-color: #1e1e1e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    place-items: center;
    min-height: 100dvb;
}

p {
    color: #a1a1b3;
}

.container {
    width: 90%;
    display: grid;
    gap: 1.8rem;
    text-align: center;
    padding: 1rem 0;
}

.scoreboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.board-display {
    border: 2px solid #e6e6ff;
    border-radius: 10px;
    padding: min(1rem, 2.4vw);
    background-color: #2b2b2b;
    display: grid;
    gap: 0.2rem;
}

.agent,
.rounds,
.choice-display,
.vs {
    font-size: clamp(0.2rem, calc(3vw + 0.1rem), 1rem);
}

.score,
.rounds span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: clamp(1rem, calc(3.3vw + 1rem), 3rem);
}

.rounds {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.rounds-display {
    grid-area: 2 / 1 / 2 / -1;
}

.game-area {
    min-height: 12rem;
    border: 2px solid #e6e6ff;
    border-radius: 10px;
    padding: 0.8rem 0;
}

.vs-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.vs {
    align-content: center;
}

.message {
    font-size: clamp(0.2rem, calc(3.6vw + 0.2rem), 1.4rem);
    margin-top: 1rem;
}

.round-end-session {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    gap: 1.4rem;
    justify-content: space-evenly;
    align-items: center;
}

.final-result-message {
    font-size: clamp(2rem,calc(7vw + 1rem), 5rem);
}

.reset {
    width: 40%;
    padding: 0.75rem;
    border: none;
    color: #1e1e1e;
    background-color: #e6e6ff;
    font-weight: 900;
    border-radius: 8px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.reset:hover {
    background-color: #a1a1b3;
}

.reset:active {
    transform: scale(0.9);
}

.choice-display {
    width: 25%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.display {
    width: 70%;
}

.display img {
    width: 100%;
}

.choices {
    display: grid;
    gap: 0.8rem;
}

.choice-button {
    width: 100%;
    height: 4rem;
    background-color: #1e1e1e;
    border: 2px solid #e6e6ff;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.choice-button:hover {
    transform: scale(1.05);
}

.choices button:active {
    transform: scale(0.9);
}

.choice-button img {
    width: 18%;
}