:root {
    --clr-blue-800: hsl(240, 61%, 12%);
    --clr-blue-900: hsl(240, 100%, 2%);
    --clr-text-100: hsl(240, 7%, 80%);
    --clr-text-50: hsl(240, 18%, 70%);
    --clr-shade: hsl(0, 0%, 0%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--clr-text-100);
    background-color: var(--clr-blue-900);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    place-items: center;
    min-height: 100dvh;
}

p {
    color: var(--clr-text-50);
}

button,
a {
    -webkit-tap-highlight-color: transparent;
}

.container {
    width: 100%;
    display: grid;
    gap: 1.2rem;
    text-align: center;
    padding: 1rem;
}

@media (min-width: 460px) {
    .container {
        max-width: 900px;
        gap: 2rem;
        padding: 0;
    }
}

.scoreboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

@media (min-width: 460px) {
    .scoreboard {
        grid-template-columns: repeat(3, 1fr);
    }
}

.board-display,
.game-area,
.choice-button {
    border: 2px solid var(--clr-text-100);
    background-color:  var(--clr-blue-800);
    box-shadow: 5px 5px 5px var(--clr-shade);
}

.board-display {
    border-radius: 10px;
    padding: min(1rem, 2.4vw);
    display: grid;
    gap: 0.2rem;
}

@media (min-width: 460px) {
    .board-display {
        gap: 0.5rem;
    }
}

.agent,
.rounds,
.choice-display,
.vs {
    font-size: clamp(0.2rem, calc(3vw + 0.1rem), 1rem);
}

.score,
.rounds span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: clamp(1rem, calc(2.3vw + 1rem), 3rem);
}

@media (min-width: 460px) {
    .rounds span {
        font-size: clamp(1rem, calc(3vw + 1rem), 2rem);
    }
}

.rounds {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.rounds-display {
    grid-area: 2 / 1 / 2 / -1;
}

@media (min-width: 460px) {
    .rounds-display {
        grid-area: unset;
    }
}

.game-area {
    min-height: 28vh;
    border-radius: 10px;
    padding: 0.8rem 0;
}

@media (min-width: 460px) {
    .game-area {
        min-height: 20rem;
        padding: 1rem 0;
    }
}

.vs-section {
    height: 85%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0.5rem;
}

@media (min-width: 460px) {
    .vs-section {
        gap: 1.5rem;
    }
}

.vs {
    align-content: center;
}

.choice-display {
    width: 25%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

@media (min-width: 460px) {
    .choice-display {
        height: 10rem;
    }
}

.display {
    width: 70%;
    padding-top: 1rem;
}

.display img {
    width: 100%;
}

.message {
    font-size: clamp(0.2rem, calc(3.6vw + 0.2rem), 1.4rem);
}

.round-end-session {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    gap: 1.4rem;
    justify-content: space-evenly;
    align-items: center;
}

.final-result-message {
    font-size: clamp(2rem,calc(7vw + 1rem), 5rem);
}

.reset {
    width: 40%;
    padding: 0.75rem;
    border: none;
    color: var(--clr-blue-900);
    background-color: var(--clr-text-50);
    font-weight: 900;
    border-radius: 8px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.reset:hover {
    background-color: var(--clr-text-100);
}

.reset:active {
    transform: scale(0.9);
}

.choices {
    display: grid;
    gap: 0.8rem;
}

@media (min-width: 460px) {
    .choices {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}

.choice-button {
    width: 100%;
    max-height: 4.6rem;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease;
}

@media (min-width: 460px) {
    .choice-button {
        min-height: 8rem;
    }
}

@media (hover: hover) {
    .choice-button:hover {
        transform: scale(1.05);
    }
}

.choice-button:active {
    transform: scale(0.96);
}

.choice-button img {
    width: 18%;
}

@media (min-width: 460px) {
    .choice-button img {
        width: 35%;
    }
}