* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #e6e6ff;
    background-color: #1e1e1e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    color: #a1a1b3;
}

.container {
    width: 100%;
    max-width: 900px;
    min-height: 100dvh;
    text-align: center;
}

.scoreboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 2rem 0;
}

.card {
    border: 2px solid #e6e6ff;
    border-radius: 10px;
    padding: 1rem;
    background-color: #2b2b2b;
}

.score {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    margin-top: 0.5rem;
}

.rounds {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.rounds span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.8rem;
}

.game-area {
    border: 2px solid #e6e6ff;
    border-radius: 10px;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
}

.vs-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 1rem;
}

.choice-display {
    width: 25%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.display {
    width: 70%;
}

.display img {
    width: 100%;
}

.message {
    font-size: 1.4rem;
    margin-top: 1rem;
}

.round-end-session {
    display: none;
    width: 728px;
    height: 202px;
    margin: auto;
}

.final-result-message {
    font-size: 5rem;
    margin: 1rem 0 3rem;
}

.reset {
    width: 40%;
    padding: 0.75rem;
    border: none;
    color: #1e1e1e;
    background-color: #e6e6ff;
    font-weight: 900;
    border-radius: 8px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.reset:hover {
    background-color: #a1a1b3;
}

.reset:active {
    transform: scale(0.9);
}

.choices {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.choice-button {
    width: 100%;
    height: 8rem;
    background-color: #1e1e1e;
    border: 2px solid #e6e6ff;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.choice-button:hover {
    transform: scale(1.05);
}

.choices button:active {
    transform: scale(0.9);
}

.choice-button img {
    width: 35%;
    height: auto;
    display: block;
    margin: 0 auto;
}